/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body{
	background:#fcfaed;
	-webkit-font-smoothing:antialiased;

}

::selection{
	background:blue;
	color:white;
}


h1 {
	font-family: 'Tungsten Comp A', 'Tungsten Comp B'; 
	font-weight: 700; 
	font-style: normal;
	font-size:340px;
	line-height:0.75em;
	color:blue;
	z-index:-1;
 }

	h1{
		position:fixed;
	}

	h1 span{
		position:fixed;
	}

	.r{
		top:0em;
		left:0em;
	}

	.i{
		top:0em;
		right:0em;
	}

	.s{
		bottom:0em;
		left:0em;
	}

	.d{
		bottom:0em;
		right:0em;
	}

	p, li{
		font-family: 'Mercury Text G1 A', 'Mercury Text G1 B'; 
		font-weight: 600; 
		font-style: normal;
		font-size:24px;
		color:rgb(30,30,30);
	}


	.intro{
		position:fixed;
		top:12em;
		margin:0px auto;
		-webkit-transform:rotate(-30deg);
		-moz-transform:rotate(-30deg);

	}

	#description{
		margin-top:150%;
	}

	h2{
		/*font-family:times;*/
		font-size:36px;
		line-height:1.125em;
		color:blue;
		/*font-weight:normal;*/
		font-family: 'Mercury Display A', 'Mercury Display B'; font-weight: 700; font-style: normal;
		letter-spacing:0.0125em;
		border:6px solid blue;
		padding:0.5em;
		background:white;
		display:block;
	}

	h2:after{
		content:"HELP WANTED!";
		position:fixed;
		font-family: 'Tungsten Comp A', 'Tungsten Comp B'; 
		font-weight: 700; 
		font-style: normal;
		font-size:300px;
		line-height:1.125em;
		z-index:-1;
		display:block;
		padding:20px 40px;
		border:6px solid blue;
		background:white;
		top:-0.5em;
		-webkit-transform:rotate(60deg);
		-moz-transform:rotate(60deg);
	}

/*	h2:before{
		content:"HELP WANTED";
		position:fixed;
		font-family: 'Tungsten Comp A', 'Tungsten Comp B'; 
		font-weight: 700; 
		font-style: normal;
		font-size:100px;
		line-height:1.125em;
		z-index:-1;
		display:block;
		padding:20px 40px;
		border:6px solid blue;
		top:-0.5em;
		-webkit-transform:rotate(10deg);
	}*/

	h2 .small-cap{
		font-family: 'Mercury Display sc A', 'Mercury Display sc B'; font-weight: 700; font-style: normal;
	}

	.small-cap{
		font-family: 'Mercury Text G1 sc A', 'Mercury Text G1 sc B'; font-weight: 600; font-style: normal;
	}

	h3{
		position:fixed;
		z-index:-1;
		font-size:24px;
		letter-spacing: 1px;
		display:inline-block;
		left:2em;
		top:35%;
		color:blue;
		font-family: 'Mercury Text G1 sc A', 'Mercury Text G1 sc B'; font-weight: 400; font-style: normal;
		-webkit-transform:rotate(90deg);
			-moz-transform:rotate(90deg);
		-webkit-transform-origin:0% 50%;
		-moz-transform-origin:0% 50%;
		pointer-events:none;
		border-left:2px solid blue;
		border-right:2px solid blue;
		padding:0em 1em;
	}

	p em{
		font-style:normal;
		border-bottom:1px dotted blue;
	}

	ul{
		list-style:none;
		padding:0;
	}

	ul li a{
		display:block;
		border-bottom:2px solid blue;
		padding:0.125em 0.5em;
		margin-left:-0.5em;

	}

	p{
		margin:0px;
		text-indent: 1em;
		
	}

	p:first-child{
		text-indent:0em;
	}



	li a:link, li a:visited{
		text-decoration:none;
		color:blue;

	}

	li a:hover{
		background:rgb(255,255,255);

	}
	

	.apply{
		display:block;
		text-align:center;
		width:100%;
		color:blue;
		border:6px solid blue;
		font-family: 'Tungsten Comp A', 'Tungsten Comp B'; 
		font-weight: 700; 
		font-style: normal;
		font-size:600px;
		line-height:1em;
		margin-top:0.2em;
		-webkit-box-sizing:border-box;
	/*	padding:0em 0em;*/

	}

	.apply:link{
		text-decoration:none;
	}

	.apply:active{
		-webkit-transform:scale(0.75);
	}



	.skill{
		font-family: 'Tungsten Comp A', 'Tungsten Comp B';
		font-size:100px;
		line-height:1em;
		color:blue; 
	}



	.required-skills li:first-child{
		border-bottom:2px solid black;
	}

	.required-skills li:nth-child(even){
		/*color:red;*/
		margin-left:0px;
	}

	.required-skills li:nth-child(odd){
		margin-right:0px;
	}

	.required-skills li:hover:after{
		content:"!";
	}

	.hidden{
		display:none;
	}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	@media only screen and (min-width:1800px){
		body{
		
		}

		h2:after{
			font-size:400px;
		}

		h1{
			font-size:600px;
		}
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		body{

		}
		h2:after{
			font-size:200px;
		}
		.apply{
			font-size:400px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.apply{
			font-size:400px;
		}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

		.apply{
			font-size:300px;
		}

		h2{
			font-size:28px;
		}

		h2:after{
			font-size:180px;
		}
		body{
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		h1{
			font-size:90px;
		}

		h2{
			font-size:24px;
		}


		h2:after{
			font-size:140px;
		}

		h3{
			display:none;
		}

		#description{
			margin-top:200%;
		}

		.intro{
			top:4em;
		}
		.apply{
			font-size:200px;
		}

		p, li{
			font-size:18px;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/